@model AppSocialTour.Models.Historia

@{
    ViewData["Title"] = "ModificarH";
}

<body class="pantallaHistoria">
    <div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Reescribimos la Historia</h1>
    <hr />
    <form asp-action="ModificarH" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID">ID de la Historia</label>                
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Historiador">Historiador o Autor</label>
            <input asp-for="Historiador" class="form-control" />
            <span asp-validation-for="Historiador" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PaginasReferencia">Paginas de Referencias</label>
            <input asp-for="PaginasReferencia" class="form-control" />
            <span asp-validation-for="PaginasReferencia" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmailHistoriador">Email del Historiador</label>
            <input asp-for="EmailHistoriador" class="form-control" />
            <span asp-validation-for="EmailHistoriador" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Desarrollo">Redacta la Historia</label>
            <textarea class="form-control" asp-for="Desarrollo" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Actualizar" class="btn btn-outline-primary" />
        </div>
        <div class="form-group">
            <a asp-action="History" class="btn btn-outline-primary" type="submit">Volver</a>
        </div>
    </form>
    </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

