<body class="pantalla">
<div class="jumbotron bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center bg-dark">
  <main role="main" class="inner cover">
    <h1 class="display-3 text-white">Disfruta y Convive</h1>
    <p class="lead text-white">Conoce la Cultura de nuestras intalaciones.</p>
  </main>
</div>
</div>
</body>
