@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo Electrino Confirmado";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bienvenido ! .El Correo Electronico ha sido confirmado y puede acceder a la aplicacion AppSocialTour, presione <a href="https://localhost:5001/Identity/Account/Login">Iniciar Seccion</a> para empezar a disfrutar nuestro servicio.
</p>