@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Correo Electrino Confirmado";
}

<body class="pantalla">
<div class="container">
<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
            <h1  class="card-title text-center">Correo Electronico confirmado</h1>
            <hr />
            <h5 class="text-center">Bienvenido</h5>

            <div>
            <p class="text-center">
                El Correo Electronico ha sido confirmado y puede acceder a la aplicacion AppSocialTour, presione <a href="https://localhost:5001/Identity/Account/Login">Iniciar Seccion
                </a> para empezar a disfrutar nuestro servicio.
            </p>
            </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>