@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmacion de Registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Antes de comenzar el pedidos que verifique la autenticidad del Correo Electronico ingresado , presione en <a id="confirm-link" href="@Model.EmailConfirmationUrl">Confirmar el Correo Electronico</a> para continuar.
</p>
    }
    else
    {
<p>
        Revise su Correo Electronico para confirmar su cuenta.
</p>
    }
}
