<body class="pantallaH">
<div class="jumbotron bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center bg-dark">
  <main role="main" class="inner cover">
    <h1 class="display-3 text-white">Disfruta y Convive</h1>
    <p class="lead text-white">Conoce la Cultura de nuestras intalaciones.</p>
  </main>
</div>
</div>
</body>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card card-signin bg-dark">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white text-center">Hotel</strong>
          <p class="card-text mb-auto text-white">Direccion</p>
          <p class="card-text mb-auto text-white">Horario</p>
          <p class="card-text mb-auto text-white">Datos del hotel etc etc etc.</p>
          <a href="#" class="text-white">Continuar viendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="..." class="card-img" alt="...">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card card-signin bg-dark">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white text-center">Hotel</strong>
          <p class="card-text mb-auto text-white">Direccion</p>
          <p class="card-text mb-auto text-white">Horario</p>
          <p class="card-text mb-auto text-white">Datos del hotel etc etc etc.</p>
          <a href="#" class="text-white">Continuar Viendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card card-signin bg-dark">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white text-center">Hotel</strong>
          <p class="card-text mb-auto text-white">Direccion</p>
          <p class="card-text mb-auto text-white">Horarios</p>
          <p class="card-text mb-auto text-white">Datos del hotel etc etc etc.</p>
          <a href="#" class="text-white">Continuar viendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative card card-signin bg-dark">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white text-center">Hotel</strong>
          <p class="card-text mb-auto text-white">Direccion</p>
          <p class="card-text mb-auto text-white">Horario</p>
          <p class="card-text mb-auto text-white">Datos del hotel etc etc etc.</p>
          <a href="#" class="text-white">Continuar Viendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
  </div>
</div>
</div>

