/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.pantalla {
  background: hsla(167, 77%, 44%, 0.89);
  background: linear-gradient(to right, hsla(175, 72%, 57%, 0.753), hsla(170, 72%, 72%, 0.5));
}

.pantallaH {
  background: hsla(241, 74%, 48%, 0.658);
  background: linear-gradient(to right, hsla(241, 64%, 43%, 0.753), hsla(234, 50%, 40%, 0.5));
}

.pantallaRB {
  background: rgba(226, 91, 12, 0.658);
  background: linear-gradient(to right, rgba(209, 116, 39, 0.753), hsla(44, 49%, 45%, 0.808));
}

.pantallaS {
  background: hsla(271, 92%, 24%, 0.658);
  background: linear-gradient(to right, hsla(288, 50%, 51%, 0.74), hsla(271, 67%, 68%, 0.658));
}
.pantallaHistoria{
  background: hsl(34, 90%, 15%);
  background: linear-gradient(to right, hsl(34, 74%, 31%), hsl(34, 70%, 41%));
}
.pantallaNovedad {
  background: hsl(0, 91%, 45%);
  background: linear-gradient(to right, hsl(0, 70%, 53%), hsl(0, 60%, 60%));
}

.lateral{
  width: 100%;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}


.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #000000;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

