@model AppSocialTour.Models.Novedad

@{
    ViewData["Title"] = "CrearN";
}
<body class="pantallaNovedad">
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Generador de Novedades</h1>
        <hr />
        <form asp-action="Guardar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID">ID de la Novedad</label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Noticia">Novedad</label>
                <input asp-for="Noticia" class="form-control" />
                <span asp-validation-for="Noticia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lugar">Nombre del Lugar</label>
                <input asp-for="Lugar" class="form-control" />
                <span asp-validation-for="Lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion">Direccion</label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje">Datos Novedosos</label>
                <textarea class="form-control" asp-for="Mensaje" rows="3"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
            </div>
            <div>
                <a asp-action="indexN" class="btn btn-outline-primary" type="submit">Volver</a>
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}