@model AppSocialTour.Models.Novedad

@{
    ViewData["Title"] = "EliminarH";
}
<body class="pantallaNovedad">


<div>
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Eliminar Novedad</h1>
        <hr />
        <h5 class="text-center">¿Quieres Eliminar la Novedad?</h5>
        <div>
        <dt class = "form-group">Noticia</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Noticia)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Lugar</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Direccion</dt>
        <dd class = "form-group">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        </div>
        <div>
        <dt class = "form-group">Datos de la Novedad</dt>
        <dd class = "form group">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        </div>
    </dl>
    
    <form asp-action="EliminarN">
        <div class="form-group">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
        <div class= "form-group">
        <input asp-action="indexN" type="submit" class="btn btn-outline-primary" value="Volver">
        </div>
    </form>
</div>

</body>