@model AppSocialTour.Models.Cultura

@{
    ViewData["Title"] = "EditarC";
}

<body class="pantallaC">
<div class="card card-signin my-5 text-white bg-dark">
    <div class="card-body text-white bg-dark">
    <h1  class="card-title text-center">Actualizar la Publicacion</h1>
    <hr />
    <form asp-action="EditarC" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ID">ID</label>
            <input asp-for="ID" class="form-control" />
            <span asp-validation-for="ID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Categoria">Categoria</label>
            <input asp-for="Categoria" class="form-control" />
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre">Nombre</label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Direccion">Direccion</label>
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Horario">Horario</label>
            <input asp-for="Horario" class="form-control" />
            <span asp-validation-for="Horario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Historia">Historia</label>
            <textarea class="form-control" asp-for="Historia" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-outline-primary" />
        </div>
        <div>
            <a asp-action="indexC" class="btn btn-outline-primary" type="submit">Volver</a>
        </div>
    </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}